:root{
  --background-color-light: white;
  --background-color-dark: black;
  --background-color: white;
  --primary-colour-light: #BB7524;
  --primary-colour-dark: #5993A2;
  --primary-colour: #BB7524;
  --image-background-colour-light: #131313;
  --image-background-colour-dark: transparent;
  --image-background-colour: #131313;
  --list-item-background-colour-light: #f9f9f9;
  --list-item-background-colour-dark: #7247401f;
  --list-item-background-colour: #f9f9f9;
  --project-border-colour-light: #BB752490;
  --project-border-colour-dark: #9BF8DC90;
  --project-border-colour: #BB752490;
  --project-info-colour-light: #f9f9f9;
  --project-info-colour-dark: #0c0c0c;
  --project-info-colour: #f9f9f9;
  --menu-boy-colour-light: #131313;
  --menu-boy-colour-dark: rgba(255, 255, 255, 0.7);
  --menu-boy-colour: #131313;
  --text-colour-light: #131313;
  --text-colour-dark: white;
  --text-colour: #131313;
  --glow-colour-light: #16446D;
  --glow-colour-dark: white;
  --glow-colour: #16446D;
  --accent-colour-light: #16446D;
  --accent-colour-dark: #BF4E3C;
  --accent-colour: #16446D;
  --list-group-active-colour-light: #16446D;
  --list-group-active-colour-dark: #5993A2;
  --list-group-active-colour: #16446D;
  --contact-logo-colour-light: #16446D;
  --contact-logo-colour-dark: #78c2ad;
  --contact-logo-colour: #16446D;
}

html, body {
  background-color: var(--background-color);
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  margin-bottom: 10vh;
}

h1, h2, h3, h4, h5, h6, p, td, li, button{
  color: var(--text-colour);
  background-color: transparent;
  font-family: "Montserrat", serif;
}
li{
  font-size: 16px;
  padding-bottom: 18px;
}

p{
  font-size: 18px;
}

.project:hover{
  text-decoration: transparent;
  background-color: var(--glow-colour);

}
.project{
  transition-duration: 0.2s;
  background-color: var(--primary-colour);
  border-radius: 15%
}

#name{
  font-size: 86px;
  font-weight: 600;
}
#web-dev{
  color: var(--accent-colour);
  font-size: 36px;
  font-weight: 300;
}

#blurb{
  color: var(--text-colour);
  font-size: 24px;
  font-weight: 300;
}
#about-me{
  top: -14px;
  left: 20px;
  position: absolute;
  z-index: 10;
  background-color: var(--background-color);
  padding-left: 3%;
  padding-right: 3%;
  color: var(--primary-colour);


}
#projects{
  top: -14px;
  right: 20px;
  position: absolute;
  z-index: 10;
  background-color: var(--background-color);
  padding-left: 3%;
  padding-right: 3%;
  color: var(--primary-colour);


}
.hover{
  transition-duration: 0.2s;
}
.hover:hover{
  box-shadow: 0 0 10px 3px var(--glow-colour);
}
.list-group-item{
  background-color: var(--list-item-background-colour);
  color: var(--text-colour);
  border-color: transparent;

}
.list-group-item.active{
  color: var(--background-color);
  background-color: var(--list-group-active-colour);
  border-color: var(--list-group-active-colour);
}

#nav-boy{
  position: fixed;
}

#work{
  top: -14px;
  left: calc(50% - 64px);
  position: absolute;
  z-index: 10;
  background-color: var(--background-color);
  padding-left: 3%;
  padding-right: 3%;
  color: var(--primary-colour);


}

#resume{
  position: absolute;
  background-color: var(--primary-colour);
  padding: 15px;
  right:32px;
  top:15px;
}
#my-face{
  border: 2px solid var(--image-background-colour);
  background-color: var(--image-background-colour);
  box-sizing: border-box;
  border-radius: 15px;
  height: fit-content;

}

.info-section{
  border: 2px solid var(--primary-colour);
  box-sizing: border-box;
  border-radius: 15px;
}

#sidebar{
  visibility: hidden;
  position: fixed;
  right:3%;
  top: 10%;

}
.menu-boy{
  color: var(--menu-boy-colour);
  transition-duration: 0.2s;
  text-decoration: transparent;
}
.menu-boy:hover, .nav-item:hover, .nav-link:hover{
  color: var(--primary-colour);
  text-decoration: transparent;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: right;
}



@media (min-width: 576px) {
  #name{
    font-size: 96px;
  }

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #sidebar{
    visibility: visible;
  }
  #nav-boy{
    visibility: hidden;
  }

}

@media (min-width: 1200px) {

}

.project-skills{

}

.project-description {
  background-color: var(--project-info-colour);
  border-radius: 15px;
}

